/*
 *    Copyright 2021 Ivan Canet, Antoine Chartron, Rémi Dehenne,
 *    Sohaib Errabii, Maxime Girardet, Aurélien Moinel, Sébastien De Nerée
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *
 */

body {
	margin: 0;
	background-color: black;
}

#layout-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#layout-container {
	display: flex;
	justify-content: center;
	align-content: center;
}

#layout {
	max-height: 100vh;
	max-width: 100%;
}

.video-window-slot {
	max-height: inherit;
	max-width: inherit;
}

.individualSlotDiv {
	position: absolute;
	top: auto;
	left: auto;
	max-width: 75vw;
	max-height: 75vh;
}

svg {
	position: absolute;
	z-index: 10;
	top: auto;
	left: auto;
}

video {
	position: absolute;
	z-index: 9;
}
