/*
 *    Copyright 2021 Ivan Canet, Antoine Chartron, Rémi Dehenne,
 *    Sohaib Errabii, Maxime Girardet, Aurélien Moinel, Sébastien De Nerée
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *
 */

body {
	margin: 0;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.icon-bar {
	width: 120px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

button {
	background-color: #b0a69d;
	border-radius: 0;
}

.icon-bar button {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: #fff;
	width: 60px;
	height: 60px;
	border: none;
	float: right;
	clear: right;
}

.sub-nav {
	position: relative;
}

.sub-icon-bar {
	display: none;
	position: absolute;
	left: 0;
	top: 240px;
}

.sub-icon-bar button {
	text-align: center;
}

.thickness-button:not(.property-active):hover + .sub-icon-bar,
.thickness-button:not(.property-active) + .sub-icon-bar:hover {
	/* !important is used to avoid the suppression of hover action
	 after modification of the class .sub-icon-bar in js file */
	display: block !important;
	animation: fade-in 0.3s ease-out !important;
}

.property-active {
	background-color: #c1674f;
}

.sub-active {
	background-color: #ffad95;
}

.icon-bar button:not(.disabled):hover {
	background-color: #78685b;
	border: none;
}

.top-button {
	border-radius: 8px 8px 0 0;
}

.down-button {
	border-radius: 0 0 8px 8px;
}

.active {
	background-color: #cb9100;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.toolbar-div {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid black;
	width: 80vw;
	height: 80vh;
}

.individualSlotDiv {
	position: relative;
	top: auto;
	left: auto;
	max-width: 75vw;
	max-height: 75vh;
}

svg {
	position: absolute;
	z-index: 10;
	top: auto;
	left: auto;
}

video {
	max-width: inherit;
	max-height: inherit;
	z-index: 9;
}

.annotation {
	pointer-events: none;
}

.fa-xlg {
	font-size: 2.33rem;
}

.container {
	display: flex;
	margin-right: 120px;
}

.window-selector {
	margin-top: 2vh;
	margin-bottom: 2vh;
	overflow: scroll;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 95vh;
	min-width: 100px;
	max-width: 20vw;
}

.one-radio {
	display: block;
}

.radio-button {
	display: inline;
}

#div-checkbox {
	display: none;
}

