/*
 *    Copyright 2021 Ivan Canet, Antoine Chartron, Rémi Dehenne,
 *    Sohaib Errabii, Maxime Girardet, Aurélien Moinel, Sébastien De Nerée
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 *
 */

:root {
	--windowSelectorWidth: 10rem;
	--windowSelectorPadding: 0.5rem;
	--windowSelectorMargin: 1rem;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #eeeeee;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

#loading {
	position: absolute;
	width: 100%;
	top: 45%;
	text-align: center;
}

#serverLog {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	overflow: auto;
}

/* region Control Toolbar */

.control-tool {
	margin-top: 5pt;
}

/* endregion */


/* region Window Picker */

#window-picker-toggle {
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 1%;
}

/* The window picker region */
#window-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 998;
	top: 0;
	height: 100%;
	width: calc(var(--windowSelectorWidth) + var(--windowSelectorMargin));
	/* Set the width to the width of a thumbnail and a little margin in order to be the right size even if there is no thumbnails (during load time) */
	background: rgba(150, 150, 150, 0.8);
	overflow-y: auto;
	overflow-x: hidden;
}

/* Per-window/screen container, which contains the thumbnail & title */
.container-window-picker {
	border-radius: 5pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	border: none;
	width: var(--windowSelectorWidth);
	margin: 0.2rem 0;
	padding: 0.4rem;
	object-fit: fill;
	touch-action: none;
	box-sizing: border-box;
}

.container-window-picker h3 {
	max-width: var(--windowSelectorWidth);
	max-height: 1rem;
	overflow: hidden;
}

.container-window-picker:hover {
	background-color: rgba(61, 174, 233, 0.2);
}

.thumbnail-window-picker {
	object-fit: contain;
	width: auto;
	height: auto;
	background-color: #111111;
	/* Color fill when window is smaller */
}

.title-window-picker {
	margin: 0;
	display: block;
	font-size: small;
	font-weight: bold;
}

/* endregion */

/* region Window Slot */

.window-slot {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	touch-action: none;
	box-sizing: border-box;
	transition: box-shadow 0.5s;
}

.window-slot video {
	object-fit: fill;
}

/* endregion */

/* region Layout */

#layout {
	height: 100vh;
	width: 100vw;
}

#layout-background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: #313335;
}

#layout-selector {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 997;
	width: 100%;
	padding: 0 var(--windowSelectorPadding);
}

#layout-container {
	display: flex;
	flex-direction: row;
}

.layout-button {
	height: 2rem;
	margin-left: 0.2rem;
	border-color: rgba(150, 150, 150, 0.8);
	border-radius: var(--windowSelectorPadding);
	border-width: 0.3rem;
	cursor: pointer;
}

.selected {
	border-color: hsl(141, 53%, 53%);
}

div.selected video {
	box-shadow: 0 -0 3pt 3pt hsl(141, 53%, 53%);
}

.btn-primary {
	background-color: #3498db;
	border-radius: 10px;
	line-height: 1.5rem;
	color: white;
	padding: .5rem 1rem .5rem 1rem;
	cursor: pointer;
	border: 0 solid #e2e8f0;
	font-family: sans-serif;
	margin-bottom: .5rem;
}

/* endregion */
